
.App {
  font-size: 16px;
}

h1 {
  font-size: 38px;
}

.intro {
  animation: slideInFromTop ease-in-out 500ms;
}

.navbar-primary {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  height: 2.6rem;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid black;
}
.navbar-secondary {
  display: flex;
  gap: 12px;
  flex-direction: row;
}
.middle-button {
  display: flex;
  align-items: center;
  height: 1.6rem;
  margin-top: .6rem;
  width: 1.6rem;
  padding: 0;
  background: none;
  border: 1px solid black;
  border-radius: 15%;
  cursor: pointer;
}
.middle-button svg {
  margin-left: 8%;
  height: 80%;
}



.flex-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32vh;
  animation: slideInFromBottom ease-out 500ms;
}
.login-item {
  margin: 8px;
}
.login-button {
  border: 3px solid black;
  font-size: 16px;
  padding: 4px 20px;
  background: none;
  font-weight: bold;
  transition: all 250ms;
}
.login-button:hover {
  box-shadow: 10px 10px;
  transition: all 250ms;
}
.login-button:active {
  box-shadow: 15px 15px;
  transition: all 250ms;
}

.dashboard-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7vh;
  width: 90%;
  height: 85vh;
  margin: 1% auto auto auto;
/*  FIXME: adjust gap width and add in media query for slim viewports */
}
.dashboard-panel {
  width: 50%;
  height: 100%;
}


.library-info-flex {
  width: 100%;
  height: 2.6rem;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid black;
  justify-content: space-between;

}

.song-selection {
  height: 97.5%;
  overflow: scroll;
  scroll-behavior: smooth;
}
.song-selection::-webkit-scrollbar {
  display: none;
}

.song-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  transition: all 250ms;
}
.song-item p {
  transition: all 250ms;
}
.song-item:hover p {
  margin-left: 10px;
  transition: all 250ms;
}
.song-item:active p {
  margin-left: 15px;
  transition: all 250ms;
}

.song-text {
  margin-bottom: .3rem;
}
.song-text-right {
  margin-left: 20%;
  min-width: 150px;
  text-align: right;
}

.media-panel {
  padding-top: 2.6rem;
  display: flex;
  flex-direction: column;
}

.upper-media {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
}

.album-cover {
  width: 50%;
}
.album-cover img {
  width: 90%;
}
.song-name {
  width: 50%;
}
.song-name p {
  margin-top: 0;
}
.song-name h1 {
  font-size: 30px;
  line-height: 110%;
  margin-top: -2%;
}

/* AUDIO PLAYER FIXME: add in hyperlink */
.audio-player img, .audio-player p {
  display: none;
}

.audio-player svg {
  height: 15px;
}


.lower-media {
  overflow: scroll;
  scroll-behavior: smooth;
  line-height: 200%;
}
.lower-media::-webkit-scrollbar {
  display: none;
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}



@media (max-width: 769px) {
  .dashboard-flex {
    flex-direction: column-reverse;
    margin-top: 380px;
  }
  .dashboard-panel {
    width: 95%;
  }
}